@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=Inter:wght@400;500;600&display=swap");

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-UltraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Black.woff2");
  font-weight: 900;
}
