@layer utilities {
  .btn:not(.btn-primary):not(:disabled) {
    @apply text-white;
    background: linear-gradient(
      to bottom,
      #6b6b6b,
      #464646 4%,
      #3a3939 12%,
      #434343 48.4%,
      #3d3d3d 90.1%,
      #242424 100%
    );
  }

  .btn-main:not(:disabled) {
    background: linear-gradient(
      180deg,
      #ffd25f 0%,
      #f5b100 14.06%,
      #ffb800 46.88%,
      #ffc327 86.98%,
      #9d7100 100%
    );
  }

  .btn.btn-small {
    min-height: 2.85rem;
  }

  .btn.btn-primary,
  .btn.btn-secondary {
    @apply h-10 min-h-0 rounded-xl;
    border: 0;
  }
}
