@import "animation.css";
@import "base.css";
@import "button.css";
@import "font.css";
@import "input.css";
@import "layout.css";
@import "markdown.css";
@import "modal.css";
@import "reset.css";
@import "stepper.css";
@import "table.css";
@import "typo.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 65 89 243;

    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 232deg 88% 60%;

    /* For rgba(255, 115, 179, <alpha-value>) */
    --color-primary: 65 89 243 1;
    background-color: $background;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
}

header {
  border-color: transparent;
  &.scrolled {
    @apply bg-blur;
    border-bottom: 1px solid #494949;
  }
}

.border-darkgrey {
  border: 1px solid #494949;
}

.shadow-none {
  box-shadow: none;
}
a {
  font-weight: 500;
  color: #ededed;
  text-decoration: inherit;
}
a:hover {
  color: $primary;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  font-family: "Inter", sans-serif;
}
.max-h-90vh {
  max-height: 90vh;
}
#root {
  min-height: 100vh;
}
.title,
.gilroy {
  font-family: "Gilroy", sans-serif;
}

.title {
  font-weight: 600;
}

.bottom-box-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.avatar img {
  border-radius: 50%;
  border: 1px solid rgba(172, 172, 172, 0.7);
}

@layer utilities {
  #root {
    width: 100%;
  }

  .small-container {
    max-width: 1200px;
  }
  .backdrop-blur-3 {
    backdrop-filter: blur(3px);
  }
  .centerXY {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-right-icon {
    transform: translate(0.5rem, 1.3rem);
  }

  .active-bordered,
  .active-border {
    border: 1px solid;
    &:hover,
    &.active {
      @apply border-primary;
    }
  }
  .max-h-80vh {
    max-height: 80vh;
  }

  .active-shadow {
    box-shadow:
      transparent 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &:hover,
    &.active {
      box-shadow:
        rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
  .bg-blur {
    background-color: rgba(28, 28, 28, 0.6);
    backdrop-filter: blur(10px);
    transition: background-color 0.3s ease-in-out 0s;
  }
}
