@layer utilities {
  .backdrop-none {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }
  .backdrop-blur-light {
    backdrop-filter: blur(0.33rem);
    -webkit-backdrop-filter: blur(0.33rem);
  }
  .backdrop-blur-medium {
    backdrop-filter: blur(0.66rem);
    -webkit-backdrop-filter: blur(0.66rem);
  }

  .backdrop-blur-strong {
    backdrop-filter: blur(8rem);
    -webkit-backdrop-filter: blur(8rem);
  }

  .border-none-force {
    border: none !important;
  }

  .blur {
    filter: blur(0.33rem);
    -webkit-filter: blur(0.33rem);
  }
}
@media screen and (min-width: 768px) {
  div.sm-max-h-90vh {
    max-height: 95vh;
  }
}
.max-h-90vh {
  max-height: 90vh;
}