@layer utilities {
  .backdrop-none {
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
  }
  .backdrop-blur-light {
    backdrop-filter: blur(0.33rem);
    -webkit-backdrop-filter: blur(0.33rem);
  }
  .backdrop-blur-medium {
    backdrop-filter: blur(0.66rem);
    -webkit-backdrop-filter: blur(0.66rem);
  }

  .backdrop-blur-strong {
    backdrop-filter: blur(8rem);
    -webkit-backdrop-filter: blur(8rem);
  }

  .border-none-force {
    border: none !important;
  }

  .blur {
    filter: blur(0.33rem);
    -webkit-filter: blur(0.33rem);
  }
}
@media screen and (min-width: 768px) {
  div.sm-max-h-95vh {
    max-height: 95vh;
  }
  .dialog {
    max-height: 95vh;
  }
}
.max-h-95vh {
  max-height: 90vh;
}

.transition-wrapper {
  @apply flex items-center justify-center min-h-screen fixed inset-0 z-20 backdrop-blur-medium;
}

.dialog {
  @apply overflow-x-hidden rounded-2xl max-h-screen w-screen overflow-y-auto transition-all duration-500 bg-dark-800;
  max-width: 32rem;
}

w3m-modal {
  @apply backdrop-blur-medium;
}
header .action-wrapper {
  @apply me-3 cursor-pointer relative bg-dark-600/50;
}

header .action-dropdown {
  @apply absolute text-white cursor-default right-0 mt-5 bg-dark-800;
}

header .action-dropdown,
header .action-wrapper {
  @apply p-2.5 border-solid border-dark-600 border-1 rounded-xl;
}

header .action-wrapper.active {
  @apply border-primary;
}
header .action-wrapper.active .bell-icon {
  @apply text-primary;
}

header .action-wrapper .notification-badge {
  @apply absolute rounded-full bg-primary text-dark text-2xs font-extrabold;
  padding: 0.1rem 0.4rem;
  top: -7px;
  right: -8.5px;
}
