.steps .step-transparent + .step-transparent:before,
.steps .step-transparent:after {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  --tw-scale-y: 0.68;
  --tw-scale-x: 1;
  --tw-translate-y: -67%;
}
.step-transparent:before {
  background-color: #3F3F3F;
}
ul.steps-vertical .step-transparent:after {
  background-color: transparent;
  border: 2px solid #3F3F3F;
}

ul.steps-vertical .step.validated:after,
ul.steps-vertical .step.failed:after {
  font-weight: 700;
  font-size: 18px;
}

ul.steps-vertical .step.validated:after {
  content: "\2713";
}

ul.steps-vertical .step.failed:after {
  content: "\2715";
}

ul.steps-vertical .step.step-loading:after {
  content: "";
  border-top-color: var(--primary);
  border-bottom-color: var(--primary);
  animation: loading 2s linear infinite;
}

ul.steps-vertical .step:before {
  background-color: #3F3F3F;
  width: 2px;
}