@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined");

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-ExtraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Black.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-UltraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  src: url("/fonts/gilroy/Gilroy-RegularItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Gilroy";
  font-style: italic;
  src: url("/fonts/gilroy/Gilroy-BoldItalic.woff2");
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/gilroy/Gilroy-Black.woff2");
  font-weight: 900;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-ExtraLight.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2");
  font-weight: 700;
}

h6,
.h6,
._1p2rem {
  font-size: 1.2rem;
}
h5,
.h5,
._1p4rem {
  font-size: 1.4rem;
}
h4,
.h4,
._1p6rem {
  font-size: 1.6rem;
}
h3,
.h3,
._1p8rem {
  font-size: 1.8rem;
}
h2,
.h2,
._2rem {
  font-size: 2rem;
}
h1,
.h1,
._2p3rem {
  font-size: 2.3rem;
  line-height: 2.6rem;
}
