@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0c0c0c;
  //background-color: @apply;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  :root {
    /* For rgb(255 115 179 / <alpha-value>) */
    --color-primary: 65 89 243;

    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --color-primary: 232deg 88% 60%;

    /* For rgba(255, 115, 179, <alpha-value>) */
    --color-primary: 65 89 243 1;
  }
}

a {
  font-weight: 500;
  color: #ededed;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-gray-200;
  font-family: "Inter", sans-serif;
}
.title {
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
}

.bottom-box-shadow {
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

@layer utilities {
  #root {
    width: 100%;
  }

  .small-container {
    max-width: 1200px;
  }
  .centerXY {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .bottom-right-icon {
    transform: translate(0.5rem, 1.3rem);
  }

  .active-bordered,
  .active-border {
    border: 1px solid;
    //border: 2px solid transparent;
    &:hover,
    &.active {
      @apply border-primary;
    }
  }
  .max-h-80vh {
    max-height: 80vh;
  }

  .active-shadow {
    box-shadow: transparent 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    &:hover,
    &.active {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }
  }
}
